.hero-image {
    background-image: url('../img/swimmer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    width: 100%;
}

#hero {
    display: flex;
    flex-direction: row-reverse;
    min-height: 75vh;
}

#hero>section {
    justify-content: center;
}

#login {
    min-width: 50%;
}
